<div class="panel-header panel-header-sm">
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title"> Create New Buisness Name</h4>
                    </div>
                    <div class="card-body">
                        <cac-form-navbar></cac-form-navbar>
                     
                                <!-- Nested view  -->
                                <router-outlet></router-outlet>
                        
                            <!-- End Content Area -->
                    </div>
             
                    </div>
                </div>
            </div>
        </div>
   


