
<footer class="footer">
  <div class="text-center">
      The  mortality of our human self is not in doubt. However, we have the chance to cast immortality upon the legacy we so create – Anthony Chigbata.
      <hr />
  </div>
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="#">
           SmartDev Solutions
          </a>
        </li>
        <li>
          <a href="/about">
            About Us
          </a>
        </li>
        <li>
          <a href="http://contact">
            Contact us
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed by
      <a href="https://www.creative-tim.com" target="_blank">SMartDev SOlutions</a>.
    </div>
  </div>
</footer>
