<form [formGroup]="form" (ngSubmit)="goToNext()" class="editForm" novalidate>
  <div class="">
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <h6 class="head text-center">CHILDREN DETAILS</h6>
        <h6 class="text-center">{{title}}</h6>

        <div class="text-center">
          <blockquote style="padding:5px !important">
            <p class="blockquote blockquote-primary">
              Includes your natural born children as well as those you legally adopt. 
             <button class="btn btn-info" type="button" (click)="isCollapsed = !isCollapsed" data-target="#collapseExample"
            [attr.aria-expanded]="false" aria-controls="collapseExample">
            More...
          </button>
            </p>
       
          </blockquote>

          
          <div [ngbCollapse]="!isCollapsed" id="collapseExample" #panel>
            <div class="card card-body" style="background-color: thistle">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
              squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
              sapiente ea proident.
            </div>
          </div>
        </div>
        <div class='row d-flex justify-content-center'>
          <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-10'>

            <div formArrayName="children">


              <div class="dynamic-control" *ngFor="let item of childs.controls; let  x = index;" [formGroupName]="x">
                    <div class='text-left'>
                    
                          <h6> Child {{x + 1}} :  {{item.get("name").value}} </h6>
                              <div class="form-group text-right">
                              <button class="btn btn-outline-rounded" (click)="removeChild(i)">Remove</button>
                            </div>
                      
                     </div>
                  
                <div class="row">
                  <div class='col-xs-12 col-sm-8'>
                    <div class="form-group">
                      <label class="control-label" for="name">Full Name</label>
                      <input class="form-control input-md" formControlName="name" required id="name" name="name"
                        type="text" placeholder="Full Name">
                      <div class="alert alert-danger"
                        *ngIf="item.get('name').invalid &&  (item.get('name').dirty || item.get('name').touched)">
                        Full Name is
                        required</div>
                    </div>
                  </div>
         
                  <div class='col-xs-12 col-sm-4'>
                    <div class="form-group">
                      <label class="control-label" for="name">Date Of Birth</label>
                      <div  class="input-group">
                      <input (click)="d.toggle()" type="text"  class="form-control input-md" placeholder="yyyy-mm-dd"
                        formControlName="dateOfBirth" [maxDate]="maxDate" ngbDatepicker #d="ngbDatepicker"
                        readonly>
                        <div  class="input-group-append">
                                <div class="input-group-text">
                                        <i class="now-ui-icons ui-1_calendar-60"></i>
                                </div>
                            </div>
                      </div>
                        <div class="alert alert-danger"
                        *ngIf="item.get('dateOfBirth').invalid &&  (item.get('dateOfBirth').dirty || item.get('dateOfBirth').touched)">
                        Birth Date is
                        required
                    </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                        <div class='col-xs-12 col-sm-12'>
                          <div class="form-group">
                                <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" name="isExcluded" formControlName="isExcluded" (change)="setGiftValidation(x)" type="checkbox">
                                                 Exclude {{item.get("name").value  ||  'This Child' }}  From Recieving Any Assets In This Will
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                          </div>
                        </div>
                  
                  </div>

                  <div   class="dynamic-control" *ngIf='!item.get("isExcluded").value' formArrayName="benefits">
                    <h6>BENEFITS TO {{item.get("name").value || 'CHILD ' +  (x+1) }}</h6>
      
                  
                    <div  *ngFor="let ben of item.get('benefits').controls; let i = index;" [formGroupName]="i">
                      
                      <div class='text-right'>
                        <button class="btn btn-outline-rounded" (click)="removeGift(x, i)">Remove</button>
                      </div>
                
                      <div class="row">
                        <div class='col-xs-12 col-sm-6'>
                          <div class="form-group">
                            <label class="control-label" for="name">Type</label>
                            <select class="form-control input-md" formControlName="type" required id="type" name="type"
                              type="select" placeholder="Full Name">
                              <option [value]="null">-- Please Select --</option>
                              <option [value]="type" *ngFor="let type of giftTypes">{{type}}</option>
                            </select>
                            <div class="alert alert-danger"
                              *ngIf="ben.get('type').invalid &&  (ben.get('type').dirty || ben.get('type').touched)">
                              Benefit type is required
                            </div>
                          </div>
                        </div>


                        <div class='col-xs-12 col-sm-6' [ngSwitch]="ben.get('type').value">
                            <div class="form-group" *ngSwitchCase="'CASH'">
                                <label class="control-label" for="name">Amount</label>
                                <input class="form-control input-md" formControlName="description" required id="name" name="name"
                                  type="number" placeholder="0.00">
                                <div class="alert alert-danger"
                                  *ngIf="ben.get('description').invalid &&  (ben.get('description').dirty || ben.get('description').touched)">
                                  Amount is Required</div>
                            </div>
                            <div class="form-group" *ngSwitchCase="'ASSET'">
                                <label class="control-label" for="name">Address</label>
                                <input class="form-control input-md" formControlName="description" required id="name" name="name"
                                  type="text" placeholder="Address Of Asset">
                                <div class="alert alert-danger"
                                  *ngIf="ben.get('description').invalid &&  (ben.get('description').dirty || ben.get('description').touched)">
                                  Address is Required</div>
                            </div>
                            <div class="form-group" *ngSwitchDefault>
                                <label class="control-label" for="name">Description</label>
                                <input class="form-control input-md" formControlName="description" required id="name" name="name"
                                  type="text" placeholder="Description of Gift">
                                <div class="alert alert-danger"
                                  *ngIf="ben.get('description').invalid &&  (ben.get('description').dirty || ben.get('description').touched)">
                                  Description is Required</div>
                            </div>
                          
                          </div>

      
                   
                              
                          
                      </div>
                      <hr/>
                    
                    </div>
               
      
                  <div class="text-right">
                    <button type="button" class="btn btn-success" (click)="addGift(x)">Add Gift</button>
                  </div>
              
                  </div>
            
                  <div class='col-xs-12 col-sm-12'>
                      <div class="form-group">
                        <label class="control-label" for="lastname">Explain It (If complex)</label>
                        <textarea class="dynamic-control form-control input-md" formControlName="description" id="description" name="description"
                          placeholder="Explain It in Your Own Words">
                          </textarea>
                       </div>
                    </div>
    
            </div>
        

          </div>
          <div row d-flex justify-content-flex-end>
            <button type="button" class="btn btn-success" (click)="addChild()">Add Child</button>
          </div>

        
            <div class="form-group text-center">
              <button class="btn btn-outline-rounded btn-secondary" (click)="goToPrevious(workForm)"> <span
                  style="margin-right:10px;" class="now-ui-icons arrows-1_minimal-left"></span>
                Previous</button>

              <button class="btn btn-primary btn-outline-rounded" [disabled]="form.invalid" type="submit">Next<span
                  style="margin-left:10px;" class="now-ui-icons arrows-1_minimal-right"></span></button>
       
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  
  
</form>

